<!-- 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Task</title>
    <style>
        .box{
            display: flex;
            gap : 1rem;
            flex-wrap: wrap;
        }
        .description,.date,.check,.add{
            flex-grow: 1;
        }
        .add{
            background-color: rgb(186, 221, 255);
        }
    </style>

</head>
<body>
    <form class="box" id="resizeBtn"  action="/add-task">
        <input placeholder="Task-Description" class="description" type="text" class=>
        <input placeholder="Task-Date" class="Date" type="date">
        <p><input  type="checkbox" class="check">completed</p>
        <button type="submit" class="add">Add Task</button>
    </form>
   
</body>
</html> -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Todo</title>
</head>
<body>
    <h1>Add New Todo</h1>
    
    <form action="/todos/add" method="post">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:value="${todo.title}" required><br><br>
        
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" th:text="${todo.description}" required></textarea><br><br>
        
        <button type="submit">Add Todo</button>
    </form>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
            // Any additional JavaScript code if needed
        });
    </script>
</body>
</html>
